@import '../../styles/base';

.title {
  padding: 2.5rem;
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 600;
}

.title--secondary {
  font-weight: normal;
}

@media (max-width: 480px) {
  .title {
    font-size: calc(2.1rem * 0.6);
  }
}
