@import '../../styles/base';

.page {
  .carousel .carousel-item {
    text-align: center;
  }

  .carousel-indicators {
    margin: 5rem 1rem 0;

    li {
      width: 1.6rem;
      height: 1.6rem;
      margin: 0 1rem;
      background: $ellipsis;
      border: none;
      border-radius: 50%;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    align-items: flex-start;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 60%;
      margin-top: 15rem;
    }
  }

  .carousel-control-prev {
    padding-right: 4rem;

    .carousel-control-prev-icon {
      background-image: url($prev-arrow);
    }
  }

  .carousel-control-next {
    padding-left: 4rem;

    .carousel-control-next-icon {
      background-image: url($next-arrow);
    }
  }

  @media (max-width: 480px) {
    .carousel-control-prev,
    .carousel-control-next {
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: 50%;
      }
    }

    .carousel-control-prev {
      padding-right: 2rem;
    }

    .carousel-control-next {
      padding-left: 2rem;
    }

    .carousel-indicators li {
      width: 1rem;
      height: 1rem;
    }
  }
}
